{% extends 'index.html' %}

{% block content %}
<header id="header" class="header">

				<!-- Header Top
                    ============================================= -->
					<div class="top-bar clearfix">
						<div class="container">
							<ul>
								<li><p class="contact-number">ТЕЛЕФОН 24/7: (000) 589-516-5485</p></li>
								<li><a href="https://goo.gl/maps/GRiySPE3BFq"><img src="https://img.clipartfest.com/1389785774-google-location-icon-location_black.png" style="width: 20px;"></img><p class="contact-number" style="padding-top: 13px;">МОСКВА УЛ. ПУШКИНА Д.228</p></a></li>
							</ul>
						</div>
					</div>


					<!-- Header Inner
                    ============================================= -->
					<div class="header-inner clearrfix container" style="border: 1px solid #e0e0e0;">

						<a href="index.html" class="navbar-brand"><img src="http://zametki.uz/pictures/s4-2.png" style="width: 300px;"></a>

						<div class="shop-cart clearfix">
							<a href="#." class="cart-control"><img src="https://openclipart.org/image/2400px/svg_to_png/60139/cart.png" style="width: 40px; margin-top:10px;"></img><span>0</span></a>
							<div class="shop-cart-detail">
								<div class="shop-cart-item clearfix">
									<img src="images/cart-item.jpg" alt="">
									<p>Leather Hand Gloves for Men<span>Quantity 3</span></p>
								</div>
								<div class="shop-cart-total clearfix">
									SUBTOTAL
									<span>$155.00</span>
								</div>
								<div class="shop-cart-buttons clearfix">
									<a href="#." class="view-cart">view cart</a>
									<a href="#." class="check-out">checkout</a>
								</div>
							</div>
						</div>

						<ul class="header-banners">
							<li style="padding: 5px 6px 0 0;">
								<img src="https://www.iconexperience.com/_img/i_collection_png/512x512/plain/truck2.png" style="width: 50px; padding: 0;"></img>
							</li>
							<li>
								<p style="padding-left: 15px;">Минимальная<span>сумма заказа: 600 &#8381</span></p>
							</li>
						</ul>

					</div>
			</header>
<div class="container">

	<div class="example2">
		<img src="static\media\images\slider.png">
		<h1>Лучшие роллы в мухосранске</h1>
	</div>



<!-- Sub Page
			============================================= -->
			<div id="sub-page" class="clearfix">

				<div class="container">

					<div class="products">

						<div class="sort-widget">

							<div class="row sort-widget-headings">

								<div class="sort-devices-heading">
									Sort Product
								</div>

								<div class="show-desktop">

									<div class="col-md-3">
										<span>categories</span>
									</div>
									<div class="col-md-3">
										<span>size</span>
									</div>
									<div class="col-md-3">
										<span>colour</span>
									</div>
									<div class="col-md-3">
										<span>BY PRICE</span>
									</div>

								</div>

								<div class="clearfix"></div>

								<div class="row sort-widget-options" id="sort-widget-options">

									<div class="col-md-3">
										<span class="mobile-heading">categories</span>
										<span class="clearfix"><input type="checkbox" id="option1"> <label for="option1">Suits &amp; Blazer</label></span>
										<span class="clearfix"><input type="checkbox" id="option2"> <label for="option2">Tuxedo</label></span>
										<span class="clearfix"><input type="checkbox" id="option3"> <label for="option3">Suits &amp; Bowler Hat</label></span>
										<span class="clearfix"><input type="checkbox" id="option4"> <label for="option4">Dress Pants</label></span>
									</div>

									<div class="col-md-3">
										<span class="mobile-heading">size</span>
										<span class="clearfix"><input type="checkbox" id="option5"> <label for="option5">S</label></span>
										<span class="clearfix"><input type="checkbox" id="option6"> <label for="option6">M</label></span>
										<span class="clearfix"><input type="checkbox" id="option7"> <label for="option7">L</label></span>
										<span class="clearfix"><input type="checkbox" id="option8"> <label for="option8">XL</label></span>
										<span class="clearfix"><input type="checkbox" id="option9"> <label for="option9">XXL</label></span>
										<span class="clearfix"><input type="checkbox" id="option10"> <label for="option10">XXXL</label></span>
									</div>

									<div class="col-md-3">
										<span class="mobile-heading">colour</span>
										<span class="clearfix"><input type="checkbox" id="option11"> <label for="option11">Black</label></span>
										<span class="clearfix"><input type="checkbox" id="option12"> <label for="option12">Blue</label></span>
										<span class="clearfix"><input type="checkbox" id="option13"> <label for="option13">Grey</label></span>
										<span class="clearfix"><input type="checkbox" id="option14"> <label for="option14">Yellow</label></span>
										<span class="clearfix"><input type="checkbox" id="option15"> <label for="option15">Red</label></span>
									</div>

									<div class="col-md-3">
										<span class="mobile-heading">BY PRICE</span>
										<span class="clearfix"><input type="checkbox" id="option16"> <label for="option16">$0.00 - $50.00</label></span>
										<span class="clearfix"><input type="checkbox" id="option17"> <label for="option17">$100.00 - $200.00</label></span>
										<span class="clearfix"><input type="checkbox" id="option18"> <label for="option18">$200.00 - $400.00</label></span>
										<span class="clearfix"><input type="checkbox" id="option19"> <label for="option19">$400.00 - $600.00</label></span>
										<span class="clearfix"><input type="checkbox" id="option20"> <label for="option20">$50.00 - $100.00</label></span>
										<span class="clearfix"><input type="checkbox" id="option21"> <label for="option21">$600.00 - $3.000.00</label></span>
									</div>


								</div>

								<a href="" class="sort-widget-toggle-btn" id="sort-widget-toggle-btn"><i class="fa fa-caret-down"></i></a>

							</div>

						</div>

						<h2 class="text-center"><strong>Суши &amp; Роллы</strong></h2>

						<div class="height50"></div>
						<div class="row">
						<ul class="clearfix list-unstyled">
							<li>
								<div class="product-bordered">
									<div class="product-thumb">
										<a href="#."><img src="static\media\images\sushi.png" style="width: 240px;"></a>
									</div>
									<div class="product-description clearfix">
										<h3><a href="#.">Роллы Ралифорния</a></h3>
										<p class="price">&#8381 55.00</p>
										<span class="double-border"></span>
										<a href="#." class="product-cart-btn pull-left"><img src="https://image.flaticon.com/icons/png/512/23/23256.png" style="width: 17px;padding-bottom: 7px;margin-right: 4px;"></img>Добавить в корзину</a>
										<a href="#." class="product-detail-btn pull-left"><img src="https://cdn4.iconfinder.com/data/icons/ios7-essence/22/circle_more_detail-512.png" style="width: 17px;"></img> Детали</a>
									</div>
								</div>
							</li>
							<li>
								<div class="product-bordered">
									<div class="product-thumb">
										<label>New</label>
										<a href="#."><img src="static\media\images\sushi.png" style="width: 240px;"></a>
									</div>
									<div class="product-description clearfix">
										<h3><a href="#.">Adidas Winter Cap</a></h3>
										<p class="price decreased"><u>£55.00</u> £24.00</p>
										<span class="double-border"></span>
										<a href="#." class="product-cart-btn pull-left"><img src="https://image.flaticon.com/icons/png/512/23/23256.png" style="width: 17px; padding-bottom: 6px;"></img> Добавить в корзину</a>
										<a href="#." class="product-detail-btn pull-left"><img src="https://cdn4.iconfinder.com/data/icons/ios7-essence/22/circle_more_detail-512.png" style="width: 17px;"></img> Детали</a>
									</div>
								</div>
							</li>
						</ul>
						</div>
					</div>

					<!-- Banners
					============================================= -->
					<div class="row">
						<div class="col-md-6">
							<div class="available-widget">
								<i class="icon-icons20"></i>
								<p>We are Now Available<span>Monday to Saturday from 7am till 11pm</span></p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="place-order-widget">
								<i class="icon-icons202"></i>
								<p>Place your Order <span>By Calling</span><b class="tag">(001) 111 222 333</b></p>
							</div>
						</div>
					</div>



				</div>

			</div>
			</div>
	<!-- Footer
			============================================= -->
			<footer id="footer" class="footer">

				<!-- Footer Top
				============================================= -->
				<div class="footer-top clearfix">

					<div class="container">

						<div class="row">


							<!-- About Us Widget
							============================================= -->
							<div class="col-md-4">
								<div class="footer-widget">
									<h4>О нас</h4>
									<p>it is a long established fact that a reader will be Get Free Shipping on all orders over $75 and free returns to our UK returns centre! <br>
	Nisi porttitor inceptos consectetur donec orci, dui ipsum leo class gravida.</p>
								</div>
							</div>


							<!-- Get in Touch Widget
							============================================= -->
							<div class="col-md-4">
								<div class="footer-widget">
									<h4>Социальные сети</h4>
									<p>it is a long established fact that a reader will be Get Free Shipping on all orders.</p>

									<!-- Social
									============================================= -->
									<ul class="social">
										<li><a href="#." class="facebook"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#." class="twitter"><i class="icon-twitter4"></i></a></li>
										<li><a href="#." class="google-plus"><i class="icon-google-plus"></i></a></li>
										<li><a href="#." class="rss"><i class="icon-rss2"></i></a></li>
										<li><a href="#." class="vimeo"><i class="icon-vimeo4"></i></a></li>
									</ul>
								</div>
							</div>


							<!-- Fajar Alerts Widget
							============================================= -->
							<div class="col-md-4">
								<div class="footer-widget">
									<h4>Fajar Alerts</h4>
									<p>Register now to get updates on promotions and coupons.</p>
									<div id="response2" style="display:none;"  class='success-msg'></div>
									<form class="news-letter-form clearfix" name="email_form" id="email_form" method="post">
										<input type="text" name="news_email_address" id="news_email_address" placeholder="Email Address" class="validate[required,custom[email]]" data-prompt-position="topLeft:0">
										<input type="submit" value="" class="news-letter-submit">
									</form>
								</div>
							</div>


						</div>

					</div>

				</div>

				<div class="footer-nav-sec clearfix">

					<div class="container">

						<div class="row">

							<div class="col-md-8">

								<!-- Footer Nav Widget
								============================================= -->
								<nav class="footer-nav">

									<div class="row">
										<div class="col-md-4 col-sm-4">
											<div class="footer-widget">
												<h4>Useful Links</h4>
												<ul class="list-icon">
													<li><a href="#."><i class="fa fa-angle-right"></i> About Us</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Contact Us</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Terms & Conditions</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Orders and Returns</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Site Map</a></li>
												</ul>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="footer-widget">
												<h4>Top Brands</h4>
												<ul class="list-icon">
													<li><a href="#."><i class="fa fa-angle-right"></i> Authentic Wear</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Azad</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Basic by Behtreen</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Beige Clothing</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Blue Dissidents</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> CA Sports</a></li>
												</ul>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="footer-widget">
												<h4>How to Buy</h4>
												<ul class="list-icon">
													<li><a href="#."><i class="fa fa-angle-right"></i> Create an Account</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Fajar Alert</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Payment Methods</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> Site Information</a></li>
													<li><a href="#."><i class="fa fa-angle-right"></i> New User Guide</a></li>
												</ul>
											</div>
										</div>
									</div>

								</nav>

							</div>

							<div class="col-md-4">

								<div class="tags-cloud clearfix">
									<div class="footer-widget">
										<h4>Tags</h4>
										<ul>
											<li><a href="">Women</a></li>
											<li><a href="">Pants</a></li>
											<li><a href="">Weeding</a></li>
											<li><a href="">Men</a></li>
											<li><a href="">Suits & Blazer</a></li>
											<li><a href="">Jeans</a></li>
											<li><a href="">Electronics</a></li>
											<li><a href="">Shoes</a></li>
											<li><a href="">Watches</a></li>
											<li><a href="">Women</a></li>
											<li><a href="">Pants</a></li>
											<li><a href="">Weeding</a></li>
										</ul>
									</div>
								</div>

							</div>

						</div>


					</div>

				</div>

				<div class="footer-cards text-center">

					<img src="images/payment-cards.png" alt="">

					<!-- Copyrights
					============================================= -->
					<p class="copyright">Copyright © 2015 Fajar. All rights reserved.</p>

				</div>


				<div class="footer-bottom clearfix">
					<div class="container">
						<img src="images/footer-logo.png" alt="">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
				</div>

			</footer>
{% endblock %}